- name: Copiar docker-compose.yml
  copy:
    src: files/docker-compose.yml
    dest: /home/vagrant/zabbix-docker-compose.yml
    owner: vagrant
    group: vagrant
    mode: '0644'

- name: Plantilla de .env para docker-compose
  copy:
    dest: /home/vagrant/.zabbix_env
    content: |
      MYSQL_ROOT_PASSWORD={{ mysql_root_password }}
      MYSQL_DATABASE={{ mysql_database }}
      MYSQL_USER={{ mysql_user }}
      MYSQL_PASSWORD={{ mysql_password }}
      ZABBIX_VERSION={{ zabbix_version }}
    owner: vagrant
    group: vagrant
    mode: '0600'

- name: Crear directorio de datos
  file:
    path: /home/vagrant/zabbix_data
    state: directory
    owner: vagrant
    group: vagrant
    mode: '0755'

- name: Instalar docker-compose (si no existe) - se repite seguridad
  pip:
    name: docker-compose
    state: present

- name: Levantar servicios con docker-compose
  become: true
  become_user: vagrant
  shell: |
    set -e
    cd /home/vagrant
    export MYSQL_ROOT_PASSWORD={{ mysql_root_password }}
    export MYSQL_DATABASE={{ mysql_database }}
    export MYSQL_USER={{ mysql_user }}
    export MYSQL_PASSWORD={{ mysql_password }}
    export ZABBIX_VERSION={{ zabbix_version }}
    docker-compose -f zabbix-docker-compose.yml up -d
  args:
    creates: /var/lib/docker/volumes